block vars

mixin markdown(text)
    | !{ self.md(text) }

doctype html
html(lang=self.locale)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:url', content='https://www.memoriaal.ee' + self.path)
        meta(property='og:title', content=self.title ? self.title + ' · ' + self.siteTitle : self.siteTitle)
        meta(property='og:image', content=self.pictures[0])

        title= self.title && self.title !== self.siteTitle ? self.title + ' · ' + self.siteTitle : self.siteTitle

        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext', rel='stylesheet', type='text/css')
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/style.css', rel='stylesheet')

        block style

        script(defer, data-domain='memoriaal.ee', src='https://plausible.io/js/plausible.js')
        script.
            window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
            plausible('Host', { props: { host: window.location.host } })

    body

        #text.container-fluid.pt-3(style={ 'background-image': `url(${self.pictures[0]})` })
            #text-pagetitle.row.my-0
                h2.col-12
                    if self.siteTitle !== self.title
                        a(href=self.root)= self.siteTitle
                    else
                        br
            #text-title.row.mt-4
                h1.col-12.col-lg-8
                    a(href=self.path)= self.title
            #text-content.row.mt-5.pb-1
                block content
                    .col-12.col-md-12.col-lg-11.col-xl-9
                        #gallery.row
                            // a pic gallery with lightbox
                            // https://ashleydw.github.io/lightbox/
                            // pics are in responsive grid with 4 columns on large screens
                            each pic in self.data.gallery
                                - var picture_file = self.gallery_folder + pic.file
                                - var picture_title = pic.title
                                - var picture_author = pic.author

                                .col-6.col-md-4.col-lg-3.mb-4
                                    a(href=picture_file, data-lightbox='gallery', data-title=picture_title)
                                        img.img-fluid(src=picture_file, alt=picture_title, title=picture_title)
                                        if picture_title
                                            p.text-left.title.mt-2= picture_title
                                        if picture_author
                                            p.text-right.author.mt-2= picture_author


        include /_templates/navigation.pug

        script(src='/js/jquery-3.3.1.min.js')
        script(src='/script.js')


        block script
