block vars


mixin markdown(text)
    | !{ self.md(text) }


doctype html
html(lang=self.locale, manifest='/cache.appcache')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:url', content='https://www.memoriaal.ee' + self.path)
        meta(property='og:title', content=self.title ? self.title + ' · ' + self.siteTitle : self.siteTitle)
        meta(property='og:image', content=self.pictures[0])

        title= self.title ? self.title + ' · ' + self.siteTitle : self.siteTitle

        link(href='https://cloud.typography.com/6935656/6118392/css/fonts.css', rel='stylesheet', type='text/css')
        link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
        link(href='/style.css', rel='stylesheet')

        //- script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            //- ga('create', 'UA-XXXXXX-YY', 'auto');
            ga('send', 'pageview');
    body
        include text.pug
        include navigation.pug

        script(src='/script.js')
