block navigation
    #navigation.row.fixed-bottom
        each n in self.navigation
            a.col-2.py-3(href=n.url, class={ 'active': self.path + '/' === n.url })
                h2.nav-title.col-12.my-0= n.title
                img.col-12.my-2.w-100(src=n.picture, alt=n.title)
                p.col-12.my-0= n.text
                p.col-12.mt-2.mb-0 →
