#text.container-fluid(style={ 'background-image': `url(${self.pictures[0]})` })
    .row.mt-3.mb-0
        .col-8.col-sm-9.col-lg-10
            h2
                if self.siteTitle !== self.title
                    a(href=self.root)= self.siteTitle
                else
                    br
        #text-locale.col-4.col-sm-3.col-lg-2.text-right
            - var i = 0
            each url, locale in self.otherLocalePaths
                if i > 0
                    span /
                a.px-2(href=url)= locale
                - i++
    .row.mt-4
        h1.col-12.col-lg-8
            a(href=self.path)= self.title
    .row.mt-5.pb-1
        block content
            .col-12.col-md-8.col-lg-9.col-xl-6
                .row
                    #text-text.col.py-3
                        each c, idx in self.content
                            if c.id
                                a.text-link.py-2.d-block(href='#' + c.id)= c.title
                                .text-block.d-none(id=c.id, class={ 'mb-3': idx!==self.content.length-1, 'mb-0': idx===self.content.length-1 })
                                    +markdown(c.text)
                            else
                                .m-0(class={ 'mb-3': self.content.length > 1 })
                                    +markdown(c.text)
            .col-12.col-md-4.col-lg-3.col-xl-2
                .row
                    #text-search.col.mt-1.mt-md-0.ml-md-1.py-3
                        +markdown(self.search.text)
                        form.form(action=self.search.url, method='GET')
                            input.col-8(type='search', name='q', placeholder=self.search.placeholder)
                            button.col-4= self.search.button
