extends /_templates/layout.pug


block content
    #text-text.col-12.col-md-9.col-lg-9
        .row
            .col.py-3
                p#search-count.mt-2.mb-4
                #search-results
    .col-12.col-md-3.col-lg-3
        .row
            include /_templates/search.pug

    #popup-background.d-none
    #popup-content.p-3.d-none
        .row
            h2#db-feedback-title.col-12= self.feedback.title
            #db-feedback-text.col-12.col-md-10.offset-md-1
                +markdown(self.feedback.text)

            form#db-feedback.col-12.col-md-8.offset-md-2(name='db-feedback', method='POST', netlify-honeypot='fax', netlify)
                input#db-feedback-id(type='hidden', name='id')
                input#db-feedback-url(type='hidden', name='url')
                input#db-feedback-name(type='hidden', name='name')
                input#db-feedback-fax.d-none(type='tel', name='fax')
                .form-group.mt-5
                    label.form-label.col-12.px-0(for='db-feedback-email')= self.feedback.email
                    input#db-feedback-email.col-12.px-0(type='email', name='contact-email')
                .form-group.mt-5
                    label.form-label.col-12.px-0(for='db-feedback-phone')= self.feedback.phone
                    input#db-feedback-phone.col-12.px-0(type='tel', name='contact-phone')
                .form-group.mt-5
                    label.form-label.col-12.px-0(for='db-feedback-fullname')= self.feedback.fullname
                    input#db-feedback-fullname.col-12.px-0(type='tel', name='contact-fullname')
                .form-group.mt-5
                    label.form-label.col-12.px-0(for='db-feedback-feedback')= self.feedback.feedback
                    textarea#db-feedback-feedback.col-12.px-0(name='feedback', rows=5)
                .form-group.mt-5.text-right
                    button#db-feedback-cancel.btn.btn-secondary= self.feedback.cancel
                    button#db-feedback-submit.btn.btn-primary.ml-3(type='submit')= self.feedback.submit

            h2#db-feedback-success.col-12.d-none= self.feedback.success


block script
    script.
        $(function () {
            var qs = function (key) {
                key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&")
                var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"))
                return match && decodeURIComponent(match[1].replace(/\+/g, " "))
            }

            var query = qs('q')
            var filter = qs('f') || 'all'
            var idQuery = (query == Number(query) && query.length === 10)

            $('input[value="'+filter+'"]').prop('checked', true)

            if (query) {
                $('input[name="q"]').val(query)

                var qData = {
                    query : {
                        bool : {
                            must : {
                                multi_match : {
                                    query: query,
                                    fields: [ 'perenimi', 'eesnimi', 'perenimed', 'eesnimed', 's端nd', 'surm', 'id', 'pereseosID' ],
                                    operator: 'and',
                                    type: 'cross_fields'
                                }
                            },
                            filter : { term: { relevantne: '1' } }
                        }
                    },
                    sort: { 'eesnimi.raw': 'asc', 'perenimi.raw': 'asc' },
                    _source: [
                        'perenimi', 'eesnimi', 'isanimi', 'emanimi', 'perenimed', 'eesnimed',
                        's端nd', 'surm', 'id',
                        'kirjed.kirje', 'kirjed.allikas',
                        'pereseosID', 'pereseos.kirjed.kirje', 'pereseos.nimekiri',
                        'tahvel', 'tulp', 'rida', 'tahvlikirje',
                        'ohvitser', 'evokirje'
                    ]
                }

                if (idQuery) {
                    filter = 'all'
                    qData['query']['bool']['must']['multi_match']['fields'] = ['id']
                }
                if (filter === 'wall') {
                    qData['query']['bool']['filter'] = { term: { kivi: '1' } }
                } else if (filter === 'officers') {
                    qData['query']['bool']['filter'] = { term: { ohvitser: '1' } }
                }
                $.ajax('/.netlify/functions/search', {
                    data : JSON.stringify(qData),
                    contentType : 'application/json',
                    type : 'POST',
                    cache: false,
                    success: function (data) {
                        $('#search-count').html(data.hits.total + (data.hits.total === 1 ? ' #{self.result.count.one}' : ' #{self.result.count.multiple}'))

                        for (var i = 0; i < data.hits.hits.length; i++) {
                            var text = []
                            var p = data.hits.hits[i]._source

                            text.push('<div id="' + p.id + '" class="search-result pt-2 pb-4">')
                            text.push('<div class="row">')

                            text.push('<h3 class="search-result-name col-12 mb-2 mb-1">' + (p.eesnimi ? p.eesnimi : '') + ' ' + p.perenimi + '</h3>')

                            text.push('<div class="col-5 col-sm-3">')
                            if (p.s端nd) { text.push('<p class="mb-0">#{self.result.born}: ' + p.s端nd + '</p>') }
                            if (p.surm) { text.push('<p class="mb-0">#{self.result.dead}: ' + p.surm + '</p>') }
                            if (p.isanimi) { text.push('<p class="mb-0">#{self.result.father}: ' + p.isanimi + '</p>') }
                            if (p.emanimi) { text.push('<p class="mb-0">#{self.result.mother}: ' + p.emanimi + '</p>') }
                            text.push('<p class="mb-0"># ' + p.id + '</p>')
                            text.push('<p class="search-result-feedback mt-3" data-id="' + p.id + '" data-name="' + p.eesnimi + ' ' + p.perenimi + '">#{self.feedback.button}</p>')
                            text.push('</div>')

                            text.push('<div class="search-result-info col-7 col-sm-6">')
                            for (var ik = 0; ik < p.kirjed.length; ik++) {
                                text.push('<p class="mt-2 mb-0"><strong>' + p.kirjed[ik].allikas + ':</strong></p>')
                                if (p.kirjed[ik].kirje) { text.push('<p class="mb-1">') }
                                if (p.kirjed[ik].kirje) { text.push(p.kirjed[ik].kirje) }
                                if (p.kirjed[ik].kirje) { text.push('</p>') }
                            }
                            if (p.pereseos && p.pereseos.length > 0) {
                                for (var ip = 0; ip < p.pereseos.length; ip++) {
                                    text.push('<hr class="my-3">')
                                    text.push('<p class="my-0"><strong>' + p.pereseos[ip].nimekiri + ' (#{self.result.family}):</strong></p>')
                                    for (var ipk = 0; ipk < p.pereseos[ip].kirjed.length; ipk++) {
                                        if (p.pereseos[ip].kirjed[ipk].kirje) { text.push('<p class="mb-1">- ') }
                                        if (p.pereseos[ip].kirjed[ipk].kirje) { text.push(p.pereseos[ip].kirjed[ipk].kirje) }
                                        if (p.pereseos[ip].kirjed[ipk].kirje) { text.push('</p>') }
                                    }
                                }
                            }
                            text.push('</div>')

                            text.push('<div class="search-result-plaque col-12 col-sm-3">')
                            if (p.tahvel) { text.push('<p class="mb-0">#{self.result.plaque}:</p>') }
                            if (p.tahvel) { text.push('<p class="mb-2 plaque-info">' + p.tahvel + '</p>') }
                            if (p.tulp) { text.push('<p class="mb-2">#{self.result.col}: ' + p.tulp + ' / #{self.result.row}: ' + p.rida + '</p>') }
                            if (p.tahvlikirje) { text.push('<p class="mb-0">#{self.result.nameOnPlaque}: ' + p.tahvlikirje + '</p>') }

                            if (p.ohvitser === '1') { text.push('<hr/><p class="mb-0">#{self.result.nameOnEVOPlaque}: ' + p.evokirje + '</p>') }
                            text.push('</div>')

                            text.push('</div>')
                            text.push('</div>')

                            $('#search-results').append(text.join(''))
                        }
                    },
                    error: function( error) {
                        console.log(error)
                    }
                })
            }

            $('input[type="radio"]').on('click', function () {
                query = $('input[name="q"]').val()
                idQuery = (query == Number(query) && query.length === 10)
                if (idQuery) {
                    $('input[value="all"]').prop('checked', true)
                    return
                }
                if ($(query && $(this).prop('value')) !== filter) {
                    $('#searchform').submit()
                }
            })
            //- $('#search-results').on('mouseenter', '.search-result', function () {
            //-     $(this).find('.search-result-feedback').removeClass('d-none')
            //- })

            //- $('#search-results').on('mouseleave', '.search-result', function () {
            //-     $(this).find('.search-result-feedback').addClass('d-none')
            //- })

            $('#search-results').on('click', '.search-result-feedback', function () {
                var id = $(this).data('id')
                var name = $(this).data('name')

                $('#db-feedback-id').val(id)
                $('#db-feedback-url').val('https://www.memoriaal.ee/baas/?q=' + id + '&f=all')
                $('#db-feedback-name').val(name)
                $('#db-feedback-title').html('#{ self.feedback.title }'.replace('%name%', name))

                $('#db-feedback-title, #db-feedback-text, #db-feedback').removeClass('d-none')
                $('#db-feedback-success').addClass('d-none')
                $('#popup-background, #popup-content').removeClass('d-none')
            })

            $('#db-feedback').submit(function (e) {
                e.preventDefault()

                var $form = $(this)

                $.post($form.attr('action'), $form.serialize(), function (data) {
                    console.log(data)

                    $('#db-feedback-title, #db-feedback-text, #db-feedback').addClass('d-none')
                    $('#db-feedback-success').removeClass('d-none')

                    $('#db-feedback input, #db-feedback textarea').val('')
                    $('#db-feedback-title').html('')

                    setTimeout(function () {
                        $('#popup-background, #popup-content').addClass('d-none')
                    }, 4000)
                })
            })

            $('#db-feedback-cancel').click(function (e) {
                e.preventDefault()

                $('#db-feedback input, #db-feedback textarea').val('')
                $('#db-feedback-title').html('')

                $('#popup-background, #popup-content').addClass('d-none')
            })
        })
