extends /_templates/layout.pug


block content
    #search.col-12.col-md-10.col-lg-8.col-xl-6.pt-3.pb-2.mr-1
        h3= self.result.title
        form.form.form-inline(action=self.search.url, method='GET')
            input.col-8.col-md-6.col-xl-4(type='search', name='q', placeholder=self.search.placeholder)
            button.col-4.col-md-3.col-xl-2= self.search.button
        p#search-count.mb-3
        #search-results


block script
    script.
        $(function () {
            var qs = function (key) {
                key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&")
                var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"))
                return match && decodeURIComponent(match[1].replace(/\+/g, " "))
            }

            var query = qs('q')

            if (query) {
                $('input[name="q"]').val(query)

                $.ajax('https://94abc9318c712977e8c684628aa5ea0f.us-east-1.aws.found.io:9243/persons/_search?size=50&from=0', {
                    data : JSON.stringify({ query: { match: { _all: { query: query, operator: 'and' } } } }),
                    contentType : 'application/json',
                    type : 'POST',
                    cache: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Basic cmVhZGVyOnJlYWRlcg==')
                    },
                    success: function (data) {
                        $('#search-count').html(data.hits.total + ' #{self.result.count}')

                        for (var i = 0; i < data.hits.hits.length; i++) {
                            var text = []
                            var p = data.hits.hits[i]._source

                            text.push('<div id="' + p.id + '" class="search-result pt-2 pb-4">')
                            text.push('<div class="row">')
                            text.push('<div class="col-5 col-sm-3">')
                            if (p.perenimi) { text.push('<p class="mb-0">#{self.result.lastname}: ' + p.perenimi + '</p>') }
                            if (p.eesnimi) { text.push('<p class="mb-0">#{self.result.firstname}: ' + p.eesnimi + '</p>') }
                            if (p.isanimi) { text.push('<p class="mb-0">#{self.result.father}: ' + p.isanimi + '</p>') }
                            if (p.emanimi) { text.push('<p class="mb-0">#{self.result.mother}: ' + p.emanimi + '</p>') }
                            if (p.sünd) { text.push('<p class="mb-0">#{self.result.born}: ' + p.sünd + '</p>') }
                            if (p.surm) { text.push('<p class="mb-0">#{self.result.dead}: ' + p.surm + '</p>') }
                            //- if (p.id) { text.push('<p class="mb-0">#' + p.id + '</p>') }
                            text.push('</div>')

                            text.push('<div class="search-result-info col-7 col-sm-6">')
                            for (var ii = 0; ii < p.kirjed.length; ii++) {
                                text.push('<p class="mb-1">')
                                //- if (p.kirjed[ii].kirjekood) { text.push(p.kirjed[ii].kirjekood + ', ') }
                                if (p.kirjed[ii].allikas) { text.push(' <span>' + p.kirjed[ii].allikas + '</span><br/>') }
                                if (p.kirjed[ii].kirje) { text.push(p.kirjed[ii].kirje) }
                                text.push('</p>')
                            }
                            text.push('</div>')
                            text.push('<div class="search-result-plaque col-12 col-sm-3">')
                            if (p.tahvel) { text.push('<p class="mb-0">#{self.result.plaque}:</p>') }
                            if (p.tahvel) { text.push('<p class="mb-0 plaque-info">' + p.tahvel + '</p>') }
                            if (p.tulp) { text.push('<p class="mb-0">#{self.result.col}: ' + p.tulp + ' / #{self.result.row}: ' + p.rida + '</p>') }
                            text.push('</div>')
                            text.push('</div>')
                            text.push('</div>')

                            $('#search-results').append(text.join(''))
                        }
                    },
                    error: function( error) {
                        console.log(error)
                    }
                })
            } else {
                $('input[name="q"]').focus()
            }
        })
